.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color : rgb(117, 117, 117);
}

.header{
  background-color: rgb(255, 255, 255);
}


.content{
  padding-top: 50px;
  background: rgb(241, 241, 241);
/* background: linear-gradient(180deg, rgba(217,217,217,1) 0%, rgba(52,52,52,1) 67%, rgba(28,36,45,1) 89%); */
  min-height: 900px;
  height: 100%;
}

footer{
  background-color: rgb(168, 64, 64);
}

li{
  list-style-type: none;
}


